@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.bgcFront{
  background-image: url("https://images.pexels.com/photos/6289065/pexels-photo-6289065.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  position:absolute;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
}
.App{
  background-image: url("./images/app.jpg");
  position:absolute;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
}
#frontLabel{
  font-size: 6rem;
  color: #fff;
}
@media (min-width: 460px){
#frontContainer{
  margin-top: 11rem;
}
#frontTitle{
  font-family: 'Staatliches', cursive;
  margin-top: 5rem;
}
}
@media (max-width: 460px){
  #frontContainer{
    margin-top: 0;
  }
  #frontLabel{
    font-size: 3.4rem;
    color: #fff;
    margin-top: 3rem;
  }
  #frontTitle{
    font-family: 'Staatliches', cursive;
  }
  }

#userStyle{
  background-color: #fff;
  border-radius: 10px;
}
#valueContent{
  height: 7rem;
}
#homeStyle{
  backdrop-filter: blur(15px);
}
#labelAdd{
  font-size: 2rem;
  font-weight:bold;
}
#formStyle{
  background-color: #046582;
  color: white;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#totalStyle{
  color: white;
  background-color: #42224A;
   padding: 1rem;
   border-radius: 25px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media   (min-width: 460px) {
  #totalStyle{
    color: white;
    background-color: #42224A;
     padding: 1rem;
     border-radius: 25px;
     width: 25rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}